.block-faq {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  .title {
    font-size: 3rem !important;
    font-family: $font-georgia;
    margin-bottom: 0;
    @include breakpoint(small only) {
      font-size: 2rem;
    }
  }

  .accordion {
    border: none;
  }

  .accordion-item, .accordion-content {
    border: none;
  }

  .accordion-title {
    color: $black;
    border-radius: unset;
    border-left: none;
    border-right: none;
    border-top: solid 1px black;
    font-family: $font-poppins;
    font-size: 2rem;
    padding: 2rem;
    @include breakpoint(small only) {
      padding-right: 20%;
      font-size: 1.5rem;
    }
  }

  .accordion-title::before {
    top: 35px;
    right: 45px;
    background-image: url('/img/screening/accordion.svg');
    background-size: 40px 40px;
    display: inline-block;
    width: 40px;
    height: 40px;
    content: "";
    @include breakpoint(small only) {
      top: 45%;
      right: 15px;
    }
  }

  .is-active > .accordion-title::before {
    background-image: url('/img/screening/accordion_minus.svg');
  }

  .accordion-item:last-of-type {
    border-bottom: solid 1px black;
  }

  .accordion-content p {
    font-size: 1.5rem;
    line-height: 1.75;
    font-family: $font-poppins;
    @include breakpoint(small only) {
      font-size: 1.125rem;
    }
  }
}
