.block-faq {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  .title {
    font-size: 3rem !important;
    font-family: $font-georgia;
    margin-bottom: 0;
    @include breakpoint(small only) {
      font-size: 2rem;
    }
  }

  .accordion {
    border: none;
  }

  .accordion-item, .accordion-content {
    border: none;
  }

  .accordion-title {
    color: $black;
    border-radius: unset;
    border-left: none;
    border-right: none;
    border-top: solid 1px black;
    font-family: $font-poppins;
    font-size: 2rem;
    padding: 2rem;
    @include breakpoint(small only) {
      padding-right: 20%;
      font-size: 1.5rem;
    }
  }

  .accordion-title::before {
    top: 35px;
    right: 45px;
    background-image: url('/img/screening/accordion.svg');
    background-size: 40px 40px;
    display: inline-block;
    width: 40px;
    height: 40px;
    content: "";
    @include breakpoint(small only) {
      top: 45%;
      right: 15px;
    }
  }

  .is-active > .accordion-title::before {
    background-image: url('/img/screening/accordion_minus.svg');
  }

  .accordion-item:last-of-type {
    border-bottom: solid 1px black;
  }

  .accordion-content p {
    font-size: 1.5rem;
    line-height: 1.75;
    font-family: $font-poppins;
    @include breakpoint(small only) {
      font-size: 1.125rem;
    }
  }
}

.block-goals {
  background-color: #aec6e1;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  .simple-card__header {
    font-size: 1.125rem;
    padding-bottom: 0;
    font-family: $font-lato;
  }

  .simple-card .simple-card__image img {
    height: 100px;
  }

  .card-text {
    font-family: $font-lato;
    width: 80%;
    margin: 0 auto;
  }
}


.block-carousel {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #e9e9e9;

  .bg-white {
    color: #4389c8 !important;
    border: solid 1px #4389c8;
    background: #fefefe;
  }

  .bg-white:hover {
    background-color: #f3f3f3;
  }

  h2 {
    font-size: 3rem !important;
    font-family: $font-georgia;
    margin-bottom: 0;
    @include breakpoint(small only) {
      font-size: 2rem;
    }
  }
  p {
    font-size: 1.125rem;
    line-height: 1.75;
    font-family: $font-poppins;
  }

  .button:nth-child(even) {
    margin-left: 2rem;
    @include breakpoint(small only) {
      margin-left: 7px;
    }
  }

  .slider-image {
    padding: 12rem 3rem;
    @include breakpoint(small only) {
      padding: 1rem;
    }
  }
  .slider-image img {
    min-height: 0 !important;
    border-radius: 15px;
  }

}

.block-testimonial {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #e9e9e9;
  @include breakpoint(small only) {
    min-height: 800px;
  }

  .icon {
    width: 80px;
    padding-top: 7px;
    padding-right: 10px;
  }

  .company-logo {
    display: block;
    margin: 0 auto;
  }

  .company-person {
    position: absolute;
    bottom: 40px;
    right: 15px;
    border-radius: 100px;
    @include breakpoint(small only) {
      bottom: 5px;
    }
  }

  .testimonial-card {
    background-color: $white;
    border-radius: 15px;
    padding: 5%;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 50%);
    @include breakpoint(small only) {
      .image-wrapper {
        padding: 1rem;
      }
    }
  }

  .screening-list-icon {
    font-size: 1.5rem;
  }
}


.block-blog {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  h2 {
    width: 100%;
    font-family: $font-georgia;
    font-weight: normal;
    font-size: 3rem;
    @include breakpoint(small only) {
      font-size: 2rem;
    }
  }

  .news-blog-featured-posts {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 75rem;
  }

  .news-blog-card__wrapper {
    flex: 1 0 20%;
    padding: 5%;
    @include breakpoint(small only) {
      flex: 1 0 100%;
    }
  }

  .news-blog-card__wrapper--image {
    background-size: cover;
    background-position: center;
    height: 10rem;
  }

  .news-blog-card__bottom--date-title {
    color: $black;
  }

  .border-right-1 {
    border-right: 1px solid $black;
    @include breakpoint(small only) {
      border-right: none;
    }
  }
}
