.footer {
  padding: $small-section-spacing 0;

  h6 {
    font-weight: $global-weight-bold;
  }

  p,
  a {
    color: $black;
    font-family: $font-lato;
    font-size: 0.875rem;
    font-weight: $global-weight-medium;
  }

  a {

    &:hover {
      color: $blue--bg;
    }
  }

  ul {
    list-style-type: none;
    margin: 0 0 1rem 0;

    li {
      margin-bottom: 0.3125rem;
    }
  }

  .menu {
    margin-bottom: $spacing;
  }

  .menu a {
    color: $black;

    &:hover {
      color: $blue--bg;
    }
  }

  .menu a {
    padding-left: 0;
  }

  @include breakpoint(medium) {
    padding: $section-spacing 0;
    .menu a {
      display: inline-block;
    }
  }

  &__logo {
    font-size: rem-calc(40);
    font-weight: $global-weight-bold;
    line-height: 1;
    margin-bottom: 2.75rem;

    img {
      height: 4rem;
      max-width: 12.0625rem;
    }
  }

  &__copyright {
    padding-left: .9375rem;

    @include breakpoint(medium down) {
      margin-top: 1rem;
    }

    &,
    a {
      color: $dark-gray;
      font-size: rem-calc(10);
      font-weight: $global-weight-bold;
    }

    a {

      &:hover {
        color: $blue--bg;
      }
    }
  }
}

.footertop__left {
  margin-bottom: $spacing;
}

.footerbottom {

  &__social {
    margin: 4rem -0.375rem $spacing;
    padding-left: .9375rem;

    &-icon {
      display: inline-block;
      margin: 0 0.375rem;
      transition: .3s;
      width: 1.125rem;

      &:hover {
        opacity: .8;
      }
    }
  }
  .bg-black {
    background-color: $black;
    color: $white;
  }
  .bg-black:hover {
    background-color: $button-hover-black;
    color: $white;
  }
}
