.footer {
  font-family: 'Lato', sans-serif;
  padding: $small-section-spacing 0;

  .menu {
    margin-bottom: $spacing;
  }

  .menu a {
    color: $black;

    &:hover {
      color: $blue--bg;
    }
  }

  .menu a {
    padding-left: 0;
  }

  @include breakpoint(medium) {
    padding: $section-spacing 0;
    .menu a {
      display: inline-block;
    }
  }
}

.footer__logo {
  font-size: rem-calc(40);
  font-weight: $global-weight-bold;
  line-height: 1;
}

.footertop__left {
  margin-bottom: $spacing;
}

a.footerbottom__menu-item {
  width: 100%;
  float: left;
  line-height: 2em;
  color: $black;
}

.footerbottom__social-icon {
  display: inline-block;
  margin: 0 10px;
  width: 25px;
}

.footerbottom__copyright {
  font-size: rem-calc(10);
  color: #B6B6B6;
  margin-top: $lg-section-spacing;
    a {
      color: #B6B6B6;
  }
}
