.title-bar {
  justify-content: flex-end;
}

.w-nav {
  background: $white;
  opacity: 1;
  padding: 0;

  @include breakpoint(medium down) {
    box-shadow: 0 2px 2px -2px $light-gray;
    transition: .75s;
  }

  &.not-visible {

    @include breakpoint(medium down) {
      opacity: 0;
      pointer-events: none;
    }
  }

  img.logo {
    max-width: 12.25rem;

    @include breakpoint(large up) {
      bottom: 8px;
      height: 46px;
      position: relative;
      transition: .3s;
    }

    @include breakpoint(large down) {
      height: 30px;
      
    }
    @media (max-width: 1038px) {
      max-width: 9.25rem;
    }
  }

  &.shrink {

    @include breakpoint(large up) {
      box-shadow: 0 2px 2px -2px $light-gray;
      padding: 0;
    }

    img.logo {
      bottom: 5px;

      @include breakpoint(large up) {
        height: 30px;
        max-width: 8rem;
      }
    }

    #main-navigation__content {

      ul {

        li {

          a {

            @include breakpoint(large up) {
              font-size: 0.9375rem;
              padding: 0.35rem 1rem;
            }

            &.button {

              @include breakpoint(large up) {
                padding: $button-padding-small;
              }
            }
          }
        }
      }
    }
  }

  > .grid-container {
    position: relative;

    @include breakpoint(large up) {
      display: flex;
      justify-content: space-between;
    }
  }

  .top-bar {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;

    .dropdown {
      width: 100%;
      padding: 1rem 0;

      @include breakpoint(large up) {
        align-items: center;
      }

      @include breakpoint(small only) {
        padding: 0;
      }

      li:hover {
        position: relative;

        a {
          position: relative;
          z-index: 11;
        }
      }
    }

    &,
    ul {
      background: $white;
    }
  }

  .menu {

    a:not(.button) {
      color: $dark-gray;
      font-weight: $global-weight-bold;
    }

    .button-group {
      @include breakpoint(medium) {
        margin-bottom: 0;
      }
    }

    .button {
      padding: 0.7rem 1rem !important;
    }
  }

  #main-navigation {
    padding-top: 0;
    @include breakpoint(medium down) {
      display: none;
    }

    &__button {

      button {
        transition: .3s;

        &:focus {
          outline: none;
        }

        &:hover:after,
        &:focus:after,
        &:after {
          background: $black;
          box-shadow: 0 7px 0 $black, 0 14px 0 $black;
        }

        &[aria-expanded='true'] {

          &:after {
            background: $blue--btn;
            box-shadow: 0 7px 0 $blue--btn, 0 14px 0 $blue--btn;
          }
        }
      }
    }

    &__content {

      @include breakpoint(medium down) {
        box-shadow: 0 4px 5px -2px $light-gray;
        left: 0;
        position: absolute;
        text-align: center;
        top: 100%;
        width: 100%;
      }

      li {
        font-family: $font-poppins;
        position: relative;

        @include breakpoint(medium down) {
          border-top: 1px solid $light-gray;
          background-color: black;
        }

        a {
          color: $black;
          font-size: 1.25rem;
          font-weight: $global-weight-normal;
          transition: .3s;

          @include breakpoint(medium down) {
            padding: 30px 10px;
          }

          @include breakpoint(large up) {
            font-size: 1rem;
            font-weight: $global-weight-medium;
          }

          @include breakpoint(medium down) {
            font-size: 1rem;
            color: $white;
          }

          &.button {
            color: $white;

            @include breakpoint(medium down) {
              padding: $button-padding;
            }
          }

          &:not(.button).is-active {

            @include breakpoint(medium down) {
              color: $blue--bg;
            }

            @include breakpoint(large up) {
              margin-bottom: -7px;
            }

            &:after {

              @include breakpoint(large up) {
                background: $blue--bg;
                content: "";
                display: block;
                height: 0.125rem;
                margin: 0.3125rem -0.1875rem 0 -0.1875rem;
                width: calc(100% + 0.375rem);
              }
            }
          }
        }
      }

      li a.button,
      button {
        font-weight: $global-weight-normal;

        @include breakpoint(medium up) {
          display: inline-block;
          margin-left: 1.5rem;
        }

        @include breakpoint(medium down) {
          margin: 20px auto;
        }

        @include breakpoint(small only) {
          width: calc(100% - 20px);
        }
      }

      .bg-white {
        color: $button-blue !important;
        border: solid 1px $button-blue;
        background: $white;
      }

      .bg-white:hover {
        background-color: $button-blue;
        color: $white !important;
      }
    }
  }
}

.w-nav-menu {
  padding: $spacing;
}

.navlink {
  @include breakpoint(large down) {
    align-self: auto;
  }
}

.blog-categories {
  padding: 0rem 0rem 3rem;
  text-align: center;

  a {
    color: $black;
    font: $global-weight-bold 1rem $font-lato;
    padding: 0.625rem;
    text-transform: capitalize;

    &:hover,
    &.active {
      color: $blue--btn;
    }
  }
}

.col5-unit {
  @include grid-column(2.4);
  @include breakpoint(medium down) {
    width: 33.33%;
  }
  @include breakpoint(small only) {
    width: 50%;
  }
}

.mega-menu.shrink {
  top: 71px;
  @include breakpoint(small only) {
    top: 0;
  }
}

.mega-menu-parent {
  z-index: 9999;
  position: relative;
  @include breakpoint(small only) {
    background-color: black !important;
    color: white !important;
    z-index: 1;
    text-align: left;
    padding-left: 3rem !important;
  }

  &:hover {
    color: $black;
  }

  .menu-item {
    position: relative;

    &:hover {
      color: $peppercorn !important;
    }

    &:after {
      content: '';
      width: 0;
      height: 1px;
      position: absolute;
      top: 100%;
      left: 0;
      background: $peppercorn;
      transition: 500ms;
    }

    &:hover:after {
      width: 100%;
    }
  }
}

.mega-menu-parent-active {
  .menu-item {
    position: relative;
    color: #eec100;

    &:after {
      content: '';
      height: 1px;
      position: absolute;
      top: 100%;
      left: 0;
      background: #eec100;
      transition: 500ms;
      width: 100%;
    }
  }
}

.nav-active {
  .menu-item:hover {
    color: $white !important;
  }
  .menu-item:hover:after {
    background: #eec100 !important;
  }
}


.mega-menu {
  display: flex;
  width: 100%;
  position: fixed;
  top: 73px;
  left: 0;
  right: 0;
  background-color: black;
  z-index: 998;
  transform: scaleY(0);
  transition: transform .35s cubic-bezier(.25, .1, .25, .1), -webkit-transform .35s cubic-bezier(.25, .1, .25, .1);
  transform-origin: top;
  @include breakpoint(small only) {
    transform: scaleX(0);
    transform-origin: right !important;
  }

  .menu {
    padding: 2rem;
    width: 75rem;
    margin: 0 auto;
    @include breakpoint(small only) {
      width: 90rem;
      display: block !important;
    }
  }

  li {
    @include breakpoint(small only) {
      border: none !important;
    }
  }

  a {
    color: white !important;
    font-family: $font-georgia;
    font-size: 1.25rem !important;
    line-height: 1.75rem;
    @include breakpoint(small only) {
      padding: 0 !important;
      line-height: 2rem;
    }
  }

  a:hover {
    color: #e0e0e0 !important;
  }

  h6 {
    color: #eec100;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    margin-left: 20px;
    cursor: default;
    @include breakpoint(small only) {
      font-size: 1rem !important;
      line-height: 2rem;
      margin-top: 2rem;
    }
  }

  ul {
    background-color: black !important;
  }

  .head {
    padding-bottom: 0;

    &:hover {
      text-decoration: none !important;
    }
  }

  .content {
    color: white;
    padding: 1rem 0 1rem 4rem;
    @include breakpoint(small only) {
      padding: 1rem 0 1rem 0rem;
    }

    .title {
      color: #eec100;
      padding-bottom: 10px;
      font-weight: bold;
      @include breakpoint(small only) {
        display: none;
      }
    }

    .title-mobile {
      display: none;
      @include breakpoint(small only) {
        color: #eec100;
        padding-bottom: 10px;
        font-weight: bold;
        display: block !important;
      }
    }

    .sub-title {
      font-weight: bold;
      padding-bottom: 10px;
      margin-top: 1rem;
    }

    .description {
      padding-bottom: 20px;
      font-size: 0.85rem;
    }

    .image {
      border-radius: 20px;
      min-height: 185px;
      width: 100%;
      object-fit: cover;
      @include breakpoint(small only) {
        width: 75%;
      }
    }

    .large-4 {
      justify-content: center;
      align-items: center;
    }
  }

  .border-left-yellow {
    border-left: 1px solid #eec100;
    @include breakpoint(small only) {
      border-left: none;
      border-top: 1px solid #eec100;
      margin-top: 1rem;
    }
  }
}

.mega-menu-active {
  transform: scaleY(1);
  @include breakpoint(small only) {
    overflow-y: scroll;
    max-width: 100%;
    width: 100rem;
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    height: 100vh;
    z-index: 999;
    transform: scaleX(1);
    transform-origin: right !important;
  }
}

body .w-nav .top-bar .mega-menu-active a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
}

#main-navigation > ul > li {
  @include breakpoint(small only) {
    position: unset !important;
  }

  .button-yellow {
    padding: 0.7rem 1rem !important;
    display: block;
    max-width: 50%;
    text-align: center;
    margin: 0 0 10px 0;
    min-width: 90px;
    font-family: $font-lato;
    font-size: 1em !important;
    color: black !important;
    z-index: 999;
  }

  .button {
    @include breakpoint(small only) {
      width: calc(60% - 20px) !important;
      margin-left: 3rem !important;
    }
  }

  @include breakpoint(small only) {
    background-color: black;
    border-top: none !important;
  }

  a {
    @include breakpoint(small only) {
      color: white !important;
    }
  }

  .icon {
    @include breakpoint(small only) {
      border: solid #eec100;
      border-width: 0 1px 1px 0;
      display: inline-block;
      padding: 7px;
      transform: rotate(-45deg);
      position: absolute;
      right: 30%;
    }
  }
}

.close {
  display: none;
  position: absolute;
  right: 25px;
  top: 25px;
  width: 32px;
  height: 32px;
  opacity: 1;
  z-index: 99999;
}

.close:hover {
  opacity: 1;
}

.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 1px;
  background-color: #eec100 !important;
  box-shadow: none !important;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.bg-help {
  background-color: black;
  width: 100%;
  height: 125px;
  z-index: 11;
  position: absolute;
  top: -30px;
  @include breakpoint(small only) {
    display: none !important;
  }
}

.padding-mobile {
  @include breakpoint(small only) {
    padding: 5px;
  }
}
