.title-bar {
  justify-content: flex-end;
}

.w-nav {
  padding: $spacing 0;
  font-family: 'Poppins', 'SemiBold', sans-serif;
  color: #000000;
    .menu {
      a:not(.button) {
        color: #000000;
        font-weight: $global-weight-bold;
        padding: 1rem;
      }

      .button-group {
        @include breakpoint(medium) {
          margin-bottom: 0;
        }
      }
      .button {
         padding: .5em 3.2em;
      }
    }
}

.w-nav-menu {
  padding: $spacing;
}

.navlink {
  @include breakpoint(large down) {
    align-self: auto;
  }
}

