---
title: "Our team"
description: "Esteemed Inc. is a multi-channel brand and integrated service provider founded in 2019. We help job seekers succeed in their chosen careers and employers scale their businesses with quality tools and resources to thrive within the changing global landscape."
permalink: /our-team/
thumbnail: "/img/our_team/our_team_01.jpg"
---
<div class="page--products">
  <section id="section-service" class="section padding-vertical-0">
    <div class="cards-list-reverse fadeinAfterLoad">
      <div class="card-horizontal overflow-hidden">
        <div class="row">
          <div class="small-12 medium-6 flex-container flex-dir-column align-center padding-3 u-bg-lighter-blue">
            <p class="eyebrow">Meet the team</p>
            <h1 class="u-trailer u-text-bold">Finding Esteemed talent is our talent.</h1>
            <p class="card-text">Our story begins with two software developers who met through Drupal events, and discovered they had quite a bit in common.</p>
            <p class="card-text">Chris McGrath and Albert Volkman founded Esteemed to address their shared interest. Together with a team of ambitious go-getters, they built one of the world’s largest Drupal talent networks</p>
          </div>
          <div class="small-12 medium-6 padding-horizontal-0 img-wrapper flex-container">
            <div class="width-25vw">
              <img class="section-image" src="/img/our_team/our_team_01.jpg" alt="Meet the team">
            </div>
          </div>
        </div>
      </div>
  </section>

  <section id="section-02" class="section our-value u-bg-yellow component-offscreen">
    <div class="grid-container">
      <div class="grid-x align-center-middle">
        <h1 class="text-center u-text-bold u-trailer margin-bottom-1">Our values</h1>
      </div>
      <div class="grid-x grid-padding-x">
        <div class="cell medium-4">
          <div class="simple-card simple-card--narrow">
            <div class="simple-card__image text-center"><img src="/img/company/esteemed-results.svg" alt="Esteemed results"></div>
            <h4 class="simple-card__header text-center u-text-bold">Results</h4>
            <p class="text-center card-text">Work can be challenging. Esteemed works tirelessly to provide tools that increase effectiveness in the workplace and the quality of life of our users.</p>
          </div>
        </div>
        <div class="cell medium-4">
          <div class="simple-card simple-card--narrow">
            <div class="simple-card__image text-center"><img src="/img/company/esteemed-passion.svg" alt="Esteemed passion"></div>
            <h4 class="simple-card__header u-text-bold text-center">Passion</h4>
            <p class="card-text text-center">We search for team members who have a passion for solving problems for clients, while collaborating with and mentoring fellow colleagues.</p>
          </div>
        </div>
        <div class="cell medium-4">
          <div class="simple-card simple-card--narrow">
            <div class="simple-card__image text-center"><img src="/img/company/esteemed-simplicity.svg" alt="Esteemed simplicity"></div>
            <h4 class="simple-card__header u-text-bold text-center">Simplicity</h4>
            <p class="card-text text-center">As the workplace becomes increasingly complex, we believe access to advice, support, and the right tools makes all the difference.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="section-service" class="section padding-vertical-0">
      <div class="card-horizontal overflow-hidden fadeinAfterLoad">
        <div class="row">
          <div class="small-12 medium-6 flex-container flex-dir-column align-center padding-3">
            <h2 class="u-trailer u-text-bold">We've built an Esteemed network for contractors and employers alike</h2>

            <div class="cell">
              <p class="card-text">Esteemed exists to solve the very issue AI and Chris noticed while working at a Seattle-based digital agency. Employers in the digital space struggled to hire Esteemed talent.</p>
              <p class="card-text">There simply weren’t enough developers to fill open roles, and anyone good was already busy.</p>
              <p class="card-text">The solution? A platform where advice support, tools, and people can come together.</p>
            </div>
          </div>

          <div class="small-12 medium-6 padding-horizontal-0 img-wrapper flex-container">
            <div class="width-25vw">
              <img class="section-image fadeinAfterLoad" src="/img/our_team/our_team_02.jpg"
                   alt="We've built an Esteemed network for contractors and employers alike">
            </div>
          </div>
        </div>
      </div>

      <div class="card-horizontal overflow-hidden our-team-about-company u-bg-darkest-blue padding-top-2 padding-bottom-2">
        <div class="row">
          <div class="small-12 medium-6 flex-container flex-dir-column align-center padding-3 border-right">
            <h2 class="u-trailer u-text-bold">Our company, by the numbers</h2>

            <div class="cell">
              <a href="#mc_embed_signup" class="button" target="_blank">Learn More</a>
            </div>
          </div>

          <div class="small-12 medium-6 flex-container flex-dir-column align-center padding-3">
            <div class="cell">
              <div class="columns d-flex align-items-center justify-content-center">
                <div class="numbers">

                  <div class="number-wrap">
                    <div class="number text-info">20+</div>
                    <div class="number-description text-lowercase text-white">years strong in digital technology</div>
                  </div>

                  <div class="number-wrap">
                    <div class="number text-info">100%</div>
                    <div class="number-description text-lowercase text-white">of developers reviewed by experts</div>
                  </div>

                  <div class="number-wrap">
                    <div class="number text-info">1250+</div>
                    <div class="number-description text-lowercase text-white">digital professionals in the community</div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-horizontal overflow-hidden component-offscreen">
        <div class="row">
          <div class="small-12 medium-6 flex-container flex-dir-column align-center padding-3 u-bg-gray">
            <h2 class="u-trailer u-text-bold">We're in it for the people</h2>

            <div class="cell">
              <p class="card-text">Our vision is built upon the idea that relationships matter. People matter. Communities matter.</p>
              <p class="card-text">We strive to lower your hiring risk by building a vast network of high-quality, pre-screened digital Esteemed professionals available for whatever work you current team can’t handle.</p>
            </div>
          </div>

          <div class="small-12 medium-6 padding-horizontal-0 img-wrapper flex-container">
            <div class="width-25vw">
              <img class="section-image" src="/img/our_team/our_team_03.jpg"
                   alt="Careers">
            </div>
          </div>
        </div>
      </div>

      <div id="block--team-members" class="block block--team-members margin-bottom-2 component-offscreen">
        <div>
          <h2 class="block-title text-md-left margin-bottom-3 margin-top-2">Meet our team</h2>

          <div class="block-content">
            <div class="row row-block-padding">
              {% for members in site.data.team_members %}
              <div class="small-6 large-3 columns">
                {% include team-members.html %}
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <div class="card-horizontal overflow-hidden component-offscreen">
        <div class="row">
          <div class="small-12 medium-6 flex-container flex-dir-column align-center padding-3 u-bg-gray">
            <h2 class="u-trailer u-text-bold">Interested in joining our team?</h2>

            <div class="cell">
              <div class="cell">
                <a href="mailto:service@esteemed.io" class="button" target="_blank">Contact Us</a>
              </div>
            </div>
          </div>

          <div class="small-12 medium-6 padding-horizontal-0 img-wrapper flex-container">
            <div class="width-25vw">
              <img class="section-image" src="/img/our_team/our_team_04.jpg"
                   alt="Interested in joining our team?">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include testimonial.html background="u-bg-gray" %}
</div>
