<div class="block-faq margin-bottom-3 component-offscreen" id="faq">
  <h2 class="title text-center margin-top-3 margin-bottom-2">{{ block.title }}</h2>
  <ul class="accordion" data-accordion>
    {% for faq in block.faqs %}
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">{{ faq.question }}</a>
        <div class="accordion-content" data-tab-content>
          {{ faq.answer | markdownify }}
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
