<div class="page--products">
<section id="section-talent-network" class="section padding-vertical-0 u-bg-{{ block.background_color }} component-offscreen">
  <div class="row">
    <p class="card-text margin-top-2 margin-left-3">{{ block.subtitle }}</p>
    <h2 class="u-trailer u-text-bold margin-left-3">{{ block.title }}</h2>
    <div class="grid-x align-top grid-padding-x news-blog-featured-posts">
      {% for featured_post in block.items %}
      <div class="news-blog-card__wrapper">
        <a href="{{ featured_post.link }}">
          <div class="news-blog-card__wrapper--image"
               style="background-image: url('{{ featured_post.image }}');"></div>
        </a>
        <div class="news-blog-card__bottom margin-top-1 margin-bottom-1">
          <a href="{{ featured_post.link }}" class="news-blog-card__bottom--date-title">
            <p class="card-text margin-top-1 margin-bottom-2">{{ featured_post.title }}</p>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
</div>
