<section id="application" class="section section-mcp-form u-bg-dark-blue">
  <div class="grid-container">
    <div class="grid-x grid-padding-x align-top text-left">
      <div class="cell">
        <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
        <div id="human-form">
          <form action="https://esteemed.us10.list-manage.com/subscribe/post?u=ec5b82da5b213df9999d28215&amp;id=ba0a0d118c&amp;f_id=00d33ae2f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <h2 class="text-center">{{ block.title }}</h2>
            <p class="h5 text-center">{{ block.subheading }}</p>
            <div class="row flex-container">
            <div class="mc-field-group">
              <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
              </label>
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
              <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
            </div>
            <div class="mc-field-group">
              <label for="mce-FNAME">First Name </label>
              <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
              <span id="mce-FNAME-HELPERTEXT" class="helper_text"></span>
            </div>
            <div class="mc-field-group">
              <label for="mce-LNAME">Last Name </label>
              <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
              <span id="mce-LNAME-HELPERTEXT" class="helper_text"></span>
            </div>
            <div class="mc-field-group size1of2">
              <label for="mce-PHONE">Phone Number </label>
              <input type="text" name="PHONE" class="" value="" id="mce-PHONE">
              <span id="mce-PHONE-HELPERTEXT" class="helper_text"></span>
            </div>
            <div class="mc-field-group">
              <label for="mce-MMERGE6">Organization Name </label>
              <input type="text" value="" name="MMERGE6" class="" id="mce-MMERGE6">
              <span id="mce-MMERGE6-HELPERTEXT" class="helper_text"></span>
            </div>
            <div class="mc-field-group">
              <label for="mce-MMERGE5">Website </label>
              <input type="url" value="" name="MMERGE5" class=" url" id="mce-MMERGE5">
              <span id="mce-MMERGE5-HELPERTEXT" class="helper_text"></span>
            </div>
            <div class="mc-field-group">
              <label for="mce-MMERGE3">Geographic Region </label>
              <select name="MMERGE3" class="" id="mce-MMERGE3">
                <option value=""></option>
                <option value="North America">North America</option>
                <option value="South America">South America</option>
                <option value="Europe">Europe</option>
                <option value="Asia">Asia</option>
                <option value="Africa">Africa</option>
                <option value="Australia">Australia</option>
              </select>
              <span id="mce-MMERGE3-HELPERTEXT" class="helper_text"></span>
            </div>
            <div class="mc-field-group">
              <label for="mce-MMERGE8">Industry Type </label>
              <select name="MMERGE8" class="" id="mce-MMERGE8">
                <option value=""></option>
                <option value="Commerce">Commerce</option>
                <option value="Construction">Construction</option>
                <option value="Education">Education</option>
                <option value="Financial Services">Financial Services</option>
                <option value="Health Services">Health Services</option>
                <option value="Engineering">Engineering</option>
                <option value="Media & PR">Media & PR</option>
              </select>
              <span id="mce-MMERGE8-HELPERTEXT" class="helper_text"></span>
            </div>
            <div class="mc-field-group">
              <label for="mce-MMERGE7">Organization Size </label>
              <select name="MMERGE7" class="" id="mce-MMERGE7">
                <option value=""></option>
                <option value="1 - 10">1 - 10</option>
                <option value="11 - 50">11 - 50</option>
                <option value="51 - 100">51 - 100</option>
                <option value="101 - 1000">101 - 1000</option>
                <option value="1000+">1000+</option>
              </select>
              <span id="mce-MMERGE7-HELPERTEXT" class="helper_text"></span>
            </div>
            <div class="mc-field-group">
              <label for="mce-MMERGE9">Years in Business </label>
              <select name="MMERGE9" class="" id="mce-MMERGE9">
                <option value=""></option>
                <option value="0 - 1">0 - 1</option>
                <option value="2 - 3">2 - 3</option>
                <option value="4 - 5">4 - 5</option>
                <option value="6 - 7">6 - 7</option>
                <option value="8 - 9">8 - 9</option>
                <option value="10+">10+</option>
              </select>
              <span id="mce-MMERGE9-HELPERTEXT" class="helper_text"></span>
            </div>
            </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                                                                      name="b\_ec5b82da5b213df9999d28215\_ba0a0d118c"
                                                                                      tabindex="-1" value=""></div>
            <div class="clear text-center padding-top-1"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                                      class="button"></div>
          </div>
          </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
        <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[4]='PHONE';ftypes[4]='phone';fnames[6]='MMERGE6';ftypes[6]='text';fnames[5]='MMERGE5';ftypes[5]='url';fnames[3]='MMERGE3';ftypes[3]='dropdown';fnames[8]='MMERGE8';ftypes[8]='dropdown';fnames[7]='MMERGE7';ftypes[7]='dropdown';fnames[9]='MMERGE9';ftypes[9]='dropdown';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
      </div>
    </div>
  </div>
</section>
