{% if page.contact_form %}
<div id="contact-form">
  <div class="contact-form__wrapper padding-top-3 text-center">
    <div class="grid-container">
      <!-- Begin Mailchimp Signup Form -->
      <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
      <div id="mc_embed_signup" class="footer-form">
        <h3>Find your next office with WorkLounge</h3>
        <form action="https://esteemed.us10.list-manage.com/subscribe/post?u=ec5b82da5b213df9999d28215&amp;id=4a5b9e47d3&amp;f_id=00e331e2f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <div class="mc-field-group size1of2">
              <label for="mce-EMAIL">Email Address *</label>
              <input type="text" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
              <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
            </div>
            <div class="mc-field-group size1of2">
              <label for="mce-FNAME">First Name </label>
              <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
              <span id="mce-FNAME-HELPERTEXT" class="helper_text"></span>
            </div>
            <div class="mc-field-group size1of2">
              <label for="mce-LNAME">Last Name </label>
              <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
              <span id="mce-LNAME-HELPERTEXT" class="helper_text"></span>
            </div>
            <div class="mc-field-group size1of2">
              <label for="mce-MMERGE5">Phone Number </label>
              <input type="text" name="MMERGE5" class="" value="" id="mce-MMERGE5">
              <span id="mce-MMERGE5-HELPERTEXT" class="helper_text"></span>
            </div>
            <div class="mc-field-group">
              <label for="mce-MMERGE3">Which Plan Suits You? </label>
              <select name="MMERGE3" class="" id="mce-MMERGE3">
                <option disabled="" selected="" value=""> -- select an option --</option>
                <option value="Executive">Executive</option>
                <option value="Club">Club</option>
                <option value="House">House</option>

              </select>
              <span id="mce-MMERGE3-HELPERTEXT" class="helper_text"></span>
            </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <input type="hidden" name="u" value="ec5b82da5b213df9999d28215">
            <input type="hidden" name="id" value="4a5b9e47d3">
            <input type="hidden" name="f_id" value="00e331e2f0">
            <div class="submit padding-top-2">
              {% if page.recaptcha %}
              <input type="submit" id="mc-embedded-subscribe" value="Inquire Now" name="submit" class="button g-recaptcha"
                     data-sitekey="{{ site.recaptcha_api_key }}"
                     data-callback="submitMainForm" data-size="invisible">
              {% else %}
              <input type="submit" id="mc-embedded-subscribe" value="Inquire Now" name="submit" class="button">
              {% endif %}
            </div>
          </div>
        </form>
      </div>
      <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[5]='MMERGE5';ftypes[5]='phone';fnames[3]='MMERGE3';ftypes[3]='dropdown';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
      <!--End mc_embed_signup-->

    </div>
    </div>
  </div>
</div>
{% endif %}
<footer class="footer u-bg-peppercorn">
  <div class="footertop">
    <div class="grid-container w-clearfix">
      <div class="grid-x footerbottom w-clearfix">
        <div class="cell small-12 medium-6 large-6">
          <div>
            <div class="large-12 medium-12 small-12">
              <div class="card-text u-text-white">Get the latest news on our</div>
              <div class="card-text u-text-white">locations, events, and programs. </div>
            </div>
          </div>
        </div>
        <div class="cell small-12 medium-6 large-6">
          <div class="footerbottom__first--content">
            <img src="/img/workloungelogowhite.svg">
          </div>
        </div>
        <div class="footerbottom__forth cell small-6 large-3">
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% if page.recaptcha %}
<script src="https://www.google.com/recaptcha/api.js"></script>
{% endif %}
<script src="/js/esteemed.js"></script>
<noscript>
  <img src="https://trc.taboola.com/1323533/log/3/unip?en=page_view" width="0" height="0" style="display:none" alt="Taboola tracking" />
</noscript>
