{% if page.contact_form %}
<div id="contact-form">
  <div class="contact-form__wrapper padding-top-3 text-center">
    <div class="grid-container">
      <!-- Begin Mailchimp Signup Form -->
      <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
      <div id="mc_embed_signup" class="footer-form">
        <form action="https://esteemed.us10.list-manage.com/subscribe/post?u=ec5b82da5b213df9999d28215&amp;id=4f1b3ddc37" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="main-form validate" target="formResult" novalidate>
          <h3>Scale your workforce instantly to meet the needs of your business</h3>
          <div id="mc_embed_signup_scroll">
            <div class="mc-field-group size1of2">
              <label for="mce-FNAME">First Name </label>
              <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
            </div>
            <div class="mc-field-group size1of2">
              <label for="mce-LNAME">Last Name </label>
              <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
            </div>
            <div class="mc-field-group size1of2">
              <label for="mce-EMAIL">Email</label>
              <input type="text" value="" name="EMAIL" class="main-form-required" id="mce-EMAIL">
            </div>
            <div class="mc-field-group size1of2">
              <label for="mce-MMERGE5">Website URL</label>
              <input type="url" value="" name="MMERGE5" class=" url" id="mce-MMERGE5">
            </div>
            <div class="mc-field-group size1of2">
              <label for="mce-PHONE">Phone Number </label>
              <input type="text" name="PHONE" class="" value="" id="mce-PHONE">
            </div>
            <div class="mc-field-group size1of2">
              <label for="mce-MMERGE6">I'm a: </label>
              <select name="MMERGE6" class="" id="mce-MMERGE6">
                <option value=""></option>
                <option value="Contractor">Contractor</option>
                <option value="Brand">Brand</option>
                <option value="Agency">Agency</option>
              </select>
            </div>
            <div class="mc-field-group">
              <label for="mce-MMERGE9">Number of employees, including 1099 and W2? </label>
              <select name="MMERGE9" class="" id="mce-MMERGE9">
                <option value=""></option>
                <option value="1 - 5">1 - 5</option>
                <option value="5 - 25">5 - 25</option>
                <option value="25 - 50">25 - 50</option>
                <option value="50 - 100">50 - 100</option>
                <option value="100 - 500">100 - 500</option>
                <option value="500 - 1000">500 - 1000</option>
                <option value="1000+">1000+</option>
              </select>
            </div>
            <div class="mc-field-group input-group benefits">
              <strong>Is your company going through any transformations that would benefit from an experienced advisor?</strong>
              <ul><li><input type="radio" value="Yes" name="MMERGE8" id="mce-MMERGE8-0"><label for="mce-MMERGE8-0">Yes</label></li>
                <li><input type="radio" value="No" name="MMERGE8" id="mce-MMERGE8-1"><label for="mce-MMERGE8-1">No</label></li>
              </ul>
            </div>
            <div class="mc-field-group">
              <label for="mce-MMERGE7">How would you best describe your staffing needs? </label>
              <textarea type="text" value="" name="MMERGE7" class="" id="mce-MMERGE7"></textarea>
            </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response-main" style="display:none"></div>
              <div class="response" id="mce-success-response-main" style="display:none"></div>
            </div> <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ec5b82da5b213df9999d28215_4f1b3ddc37" tabindex="-1" value=""></div>
            <input type="hidden" name="u" value="ec5b82da5b213df9999d28215">
            <input type="hidden" name="id" value="4f1b3ddc37">
            <div class="submit"><input type="submit" value="Talk to us" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
        </form>
        <iframe name="formResult" style="display:none"></iframe>
      </div>
      <!--End mc_embed_signup-->
    </div>
    </div>
  </div>
</div>
{% endif %}
<footer class="footer u-bg-gray">
  <div class="footertop">
    <div class="grid-container w-clearfix">
      <div class="footertop">
        <div class="footer__logo">
          <a href="/" class="w-logo">
            <img src="/img/esteemed-logo-color.svg" alt="Esteemed logo" class="logo" />
          </a>
        </div>
      </div>
      {% include social-links.html class="hide-for-medium" %}
      <div class="grid-x footerbottom w-clearfix">
        <div class="col5-unit">
          <div class="grid-x">
            <div class="large-12 medium-12 small-12">
              <a href="/products/"><h6>Products</h6></a>
              <ul>
                <li><a href="/join-talent-network/">Esteemed Talent Network</a></li>
                <li><a href="/xcontractors/">[x]Contractors</a></li>
                <li><a href="/esteemed-digital/">Esteemed Digital</a></li>
              </ul>
            </div>
            <div class="large-12 medium-12 small-12">
              <a href="/solutions/"><h6>Solutions</h6></a>
              <ul>
                <li><a href="/for-brands/">For Brands</a></li>
                <li><a href="/for-agencies/">For Agencies</a></li>
                <li><a href="/join-talent-network/">For Talent</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col5-unit">
          <div class="footerbottom__first--content">
            <a href="/services/"><h6>Services</h6></a>
            <ul>
              <li><a href="/digital-delivery/">Digital Delivery</a></li>
              <li><a href="/agile-coaching/">Agile Coaching</a></li>
              <li><a href="/technical-architecture/">Technical Architecture</a></li>
              <li><a href="/project-management/">Project Management</a></li>
              <li><a href="/discovery-planning/">Discovery & Planning</a></li>
              <li><a href="/fractional-cto/">Fractional CTO</a></li>
            </ul>
          </div>
        </div>
        <div class="col5-unit">
          <div class="footerbottom__first--content">
            <a href="/resources/"><h6>Resources</h6></a>
            <ul>
              <li><a href="/blog/">Blog</a></li>
              <li><a href="/resources/">Tips & Tools</a></li>
<!--              <li><a href="/case-studies/">Case Studies</a></li>-->
              <li><a href="/partners/partner-registration/">Partner With Us</a></li>
              <li><a href="https://talent.esteemed.io/jobs">Open Jobs</a></li>
            </ul>
          </div>
        </div>
        <div class="col5-unit">
          <div class="footerbottom__first--content">
            <a href="/about-us/"><h6>About Us</h6></a>
            <ul>
              <li><a href="/company/">Our Company</a></li>
              <li><a href="/careers/">Careers</a></li>
              <li><a href="/news-center/">Press</a></li>
              <li><a href="https://us10.list-manage.com/contact-form?u=ec5b82da5b213df9999d28215&form_id=3748ccb203457ce78b32c876123b02bf">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col5-unit">
          <div class="footerbottom__first--content">
            <a href="/community/"><h6>Community</h6></a>
            <ul>
              <li><a href="/events/">Events</a></li>
              <li><a href="https://eepurl.com/g_fqE1">Join Our Newsletter</a></li>
              <li><a class="button bg-black" href="https://join.slack.com/t/esteemed/shared_invite/zt-aejwraa8-mFs6ZUEs6voPD5RCV3vwvg">Join Talent Network</a></li>
            </ul>
          </div>
        </div>
        <div class="footerbottom__forth cell small-6 large-3">
          {% include social-links.html class="hide-for-small-only" %}
        </div>
      </div>
      <div class="footer__copyright">Copyright&copy; {{ "now" | date: "%Y" }} Esteemed. <a href="/privacy-policy/">Privacy</a> | <a href="/terms-use/">Terms</a> | <a href="/code-of-conduct/">Code of Conduct | <a href="tel:+1360-712-3866">+13607123866</a></div>
    </div>
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="/js/esteemed.js"></script>
<noscript>
  <img src="https://trc.taboola.com/1323533/log/3/unip?en=page_view" width="0" height="0" style="display:none" alt="Taboola tracking" />
</noscript>
