<div data-collapse="large" data-animation="default" data-duration="400" class="hero-menu w-nav">
  <div class="grid-container">
    <div class="grid-x w-nav">
      <div class="cell medium-6 w-nav-brand">
        <a href="/" class="w-logo">
          <img src="/img/esteemed-bw-logo.png" alt="" class="logo">
        </a>
      </div>
      <div class="cell menu medium-6 large-horizontal align-right">
        <li><a href="#">Products</a></li>
        <li><a href="#">Talent Network</a></li>
        <li><button class="button">Join our Talent Network</button></li>
      </div>
      <div id="main-navigation" class="off-canvas position-right in-canvas-for-large is-transition-overlap is-closed" data-off-canvas="49oass-off-canvas" aria-hidden="true">
        <button class="close-button" aria-label="Close menu" type="button" data-close="">
          <span aria-hidden="true">×</span>
        </button>
      </div>
    </div>
  </div>
</div>
