{% assign dir_with_slashes = '/' | append: dir | append: '/' %}
{% unless dir %}
{% assign dir_with_slashes = page.url | split: '/' %}
{% assign dir_with_slashes = '/' | append: dir_with_slashes[1] | append: '/' %}
{% endunless %}
<div data-collapse="large" data-animation="default" data-duration="400" class="hero-menu w-nav sticky is-stuck is-at-top">
  <div class="grid-container padding-mobile">
    <div class="grid-x align-justify align-middle padding-left-1">
      <div class="w-nav-brand w--current large-shrink grid-x align-justify">
        <a href="/" class="w-logo">
          <img src="{{ site.logo }}" alt="Esteemed Logo" class="logo">
        </a>
      </div>
      <div id="main-navigation__button" class="hide-for-large">
        <div class="title-bar" data-toggle="main-navigation" data-responsive-toggle="main-navigation" data-hide-for="large">
          <button class="menu-icon" type="button" data-toggle="main-navigation"></button>
        </div>
      </div>
    </div>
    <div class="grid-x" id="main-navigation__content">
      <div class="top-bar cell" id="main-navigation" data-toggler data-animate="fade-in fade-out">
        <ul class="dropdown vertical large-horizontal menu" data-dropdown-menu>
          {% for nav in site.data.menus.navigation %}
          {% if nav.url == page.dir or nav.url == dir_with_slashes %}
          {% assign active = true %}
          {% else %}
          {% assign active = false %}
          {% endif %}
          <li class="{% if nav.button != 0 %}hover-white{% endif %}">
              <a  class="{% if nav.button == 0 %}mega-menu-parent{% endif %} {% if nav.button != 0 %}button {% endif %}{% if nav.bg_white != null %}bg-white {% endif %}{% if active %} is-active{% endif %}" href="{{ nav.url }}"><span class="menu-item">{{ nav.title }}</span>{% if nav.button == 0 %}<span class="icon"></span>{% endif %}</a>
            {% if site.data.menus[nav.id] != null %}
            <div class="mega-menu w-nav">
                <div class="close" style="display: none;"></div>
                  <div class="menu grid-x">
                      {% for mega in site.data.menus[nav.id] %}
                      <div class="large-4 small-12">
                        <a class="head" href="{{ mega.url}}"{% if mega.target != null %} target="{{ mega.target}}"{% endif %}><h6>{{ mega.title}}</h6></a>
                        <ul>
                          {% for menu in mega.submenus %}
                          <li><a href="{{ menu.url}}"{% if menu.target != null %} target="{{ menu.target}}"{% endif %}>{{ menu.title}}</a></li>
                          {% endfor %}
                        </ul>
                      </div>
                    {% if mega.cta.title %}
                    <div class="large-6 small-12 content border-left-yellow">
                      <div class="grid-x">
                        <div class="large-4 small-12 flex-container flex-dir-column">
                          <div class="title-mobile hide">{{ mega.cta.title }}</div>
                          <img class="image" src="{{ mega.cta.image_url }}" alt="{{ mega.cta.image_alt }}"/>
                        </div>
                        <div class="large-8 small-12 padding-left-2">
                          <div class="title">{{ mega.cta.title }}</div>
                          <div class="sub-title">{{ mega.cta.sub_title }}</div>
                          <div class="description">{{ mega.cta.description }}</div>
                          <a class="button-yellow" href="{{ mega.cta.button_link }}"{% if mega.cta.target != null %} target="{{ mega.cta.target}}"{% endif %}>{{ mega.cta.button_title }}</a>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                      {% endfor %}
                  </div>
              </div>
            </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
