<section class="section section__testimonial {{ include.background }}">
  <div class="grid-container">
    <div class="grid-x align-center-middle margin-bottom-3">
      <h2 class="text-center u-text-bold">The good word on esteemed</h2>
    </div>
    <div class="align-center-middle">
      <div class="orbit" role="region" aria-label="Favorite Text Ever" data-orbit
           data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
        <nav class="orbit-bullets">
          <button class="is-active" data-slide="0">
            <span class="show-for-sr">Oomph</span><span class="show-for-sr">Current Slide</span>
            <img src="/img/logo-oomph.svg" alt="Oomph">
          </button>
          <button data-slide="1">
            <span class="show-for-sr">Avionos</span>
            <img src="/img/logo-avionos.svg" alt="Avionos">
          </button>
          <button data-slide="2">
            <span class="show-for-sr">FreshForm</span>
            <img src="/img/logo-freshform.svg" alt="Freshform">
          </button>
        </nav>
        <div class="orbit-container__wrapper align-center-middle">
          <ul class="orbit-container padding-bottom-1">
            <li class="orbit-slide text-center">
              <p><span>“</span>A consistent, reliable source for quality Drupal Developers.<span>”</span></p>
              <p><strong>Matt O'Bryant</strong>, VP Professional Services, Oomph</p>
            </li>
            <li class="orbit-slide text-center">
              <p><span>“</span>High-quality resources quickly. We couldn't be more happy with the
                relationship.<span>”</span></p>
              <p><strong>Gibson Smith</strong>, CEO Avionos</p>
            </li>
            <li class="orbit-slide text-center">
              <p><span>“</span>The structure of Esteemed is awesome. It saves time in hiring by putting top talent
                just a message away.<span>”</span></p>
              <p><strong>Brandon Baker</strong>, VP Technology - FreshForm</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
