---
title: Events
layout: events
description: "<p>Connect and learn more from your peers with Esteemed – from live
  events and webinars to on-demand recordings. </p>"
permalink: "/events/"
thumbnail: "/img/partner_2.jpg"
pagination: 
  enabled: true
  collection: press
  per_page: 3
  permalink: "/:num/"
  title: ":title - page :num"
  limit: 0
  sort_field: "date"
  sort_reverse: true

---
<div class="page--events">
  <section id="section-service" class="section padding-vertical-0">
    <div class="cards-list-reverse">
      <div class="card-horizontal overflow-hidden fadeinAfterLoad">
        <div class="row">
          <div class="small-12 medium-6 flex-container flex-dir-column align-center padding-3 u-bg-lighter-blue">
            <p class="eyebrow">Events</p>
            <h1 class="u-trailer">Network with Us</h1>
            <p class="card-text">We've created a thriving community of top talent in design, business, and
              technology. Members of Esteemed host, sponsor, and attend events globally to learn from experts and one another. 

Check our event listings to connect with your colleagues at conferences and events all over the world!</p>
          </div>

          <div class="small-12 medium-6 padding-horizontal-0 img-wrapper flex-container">
            <div class="width-25vw">
              <img class="section-image" src="/img/partner_2.jpg" alt="Events">
            </div>
          </div>
        </div>
      </div>

      <div class="card-horizontal overflow-hidden fadeinAfterLoad">
        <div class="row">
          <div class="small-12 medium-6 flex-container flex-dir-column align-center padding-3 u-bg-gray">
            <h2 class="u-trailer">Featured: NEDCamp</h2>

            <div class="cell">
              <p class="card-text">
                Drupal holds a special place for all of us at Esteemed, which is why we’re proud to announce that our company is sponsoring NEDCamp 2022.
              </p>
              <div class="cell">
                <a href="https://nedcamp.org/" class="button" target="_blank">Learn More</a>
              </div>
            </div>
          </div>

          <div class="small-12 medium-6 padding-horizontal-0 flex-container">
            <div class="width-25vw align-center flex-container">
              <img class="section-image atlanta-drupalcamp" src="https://nedcamp.org/sites/default/files/inline-images/nedcamp-2018_0.jpeg"
                   alt="Featured: NedCamp">
            </div>
          </div>
        </div>
      </div>

      <div class="events row component-offscreen">
        {% assign events = paginator.press | where:'type', 'Events' | sort: 'date' | reverse %}
        {% assign today_date = 'now' | date: '%s' %}
        {% assign past_events = false %}
        {% assign upcoming_events = false %}
        {% for event in events %}
        <div class="large-12">
          {% assign event_date = event.date | date: '%s' %}
          {% if event_date > today_date %}
          {% if upcoming_events == false %}
            <h2 class="margin-top-1 margin-bottom-1">Upcoming Events</h2>
          {% assign upcoming_events = true %}
          {% endif %}
          <div class="event row margin-bottom-1 padding-bottom-1">
            <div class="large-3 medium-3 small-12">
              {% if event.thumbnail %}
              <a href="{{ event.url }}">
                <div class="event-card__wrapper--image" style="background-image: url('{{ event.thumbnail }}');"></div>
              </a>
              {% endif %}
            </div>
            <div class="large-9 medium-9 small-12 padding-left-1">
              <div class="event-item margin-top-1">
                <div class="event-title">{{ event.title }}</div>
                <p class="card-text">{{ event.description | slice: 0, 200 }}...</p>
                <div class="event-date margin-bottom-1">{{ event.date | date: "%B %d, %Y" }}</div>
                <a class="get-more" href="{{ event.url }}">Get More Info</a>
              </div>
            </div>
          </div>
          {% else %}
          {% if past_events == false %}
            <h2 class="margin-top-1 margin-bottom-1">Past Events</h2>
          {% assign past_events = true %}
          {% endif %}
          <div class="event row margin-bottom-1 padding-bottom-1">
            <div class="large-3 medium-3 small-12">
              {% if event.thumbnail %}
              <a href="{{ event.url }}">
                <div class="event-card__wrapper--image" style="background-image: url('{{ event.thumbnail }}');"></div>
              </a>
              {% endif %}
            </div>
            <div class="large-9 medium-9 small-12 padding-left-1">
              <div class="event-item margin-top-1">
                <div class="event-title">{{ event.title }}</div>
                <p class="card-text">{{ event.description | slice: 0, 200 }}...</p>
                <div class="event-date margin-bottom-1">{{ event.date | date: "%B %d, %Y" }}</div>
                <a class="get-more" href="{{ event.url }}">Get More Info</a>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
        {% endfor %}
        {% if paginator.total_pages > 1 %}
<!-- <ul>
  {% if paginator.previous_page %}
  <li>
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li>
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  </li>
  {% endif %}
</ul> -->
{% endif %}
      </div>
    </div>
  </section>
  {% include testimonial.html background="u-bg-gray" %}
</div>