---
title: Member Compensation Plan
description:
contact_form: false
permalink: "/member-compensation-plan/"
date: '2020-11-12 00:12:21 +0000'
author: casey-horgan
categories: []
thumbnail: "/img/mcp_1.jpg"
---

<section id="section-member-compensation-plan" class="section padding-vertical-0">
  <div class="cards-list-reverse">
    <div class="card-horizontal overflow-hidden fadeinAfterLoad">
      <div class="row">
        <div class="small-12 medium-6 flex-container flex-dir-column align-center padding-3">
          <h1 class="u-trailer u-text-bold">Join our Member Comp Plan</h1>
          <div class="cell">
            <a href="#application" class="button" target="_blank">Register a Lead</a>
          </div>
        </div>

        <div class="small-12 medium-6 padding-horizontal-0 img-wrapper flex-container">
          <div class="width-25vw">
            {% include image.html url="/img/mcp_1.jpg" classes="section-image" alt="Join our Member Comp Plan" %}
          </div>
        </div>
      </div>
    </div>

    <div class="card-horizontal overflow-hidden fadeinAfterLoad">
      <div class="row">
        <div class="small-12 medium-6 flex-container flex-dir-column align-center padding-3">
          <h2 class="u-trailer u-text-bold">We’re changing how highly-skilled talent is found.</h2>
          <div class="cell">
            <p class="card-text">
              We know our team is contacted by
              recruiters, agencies, and companies
              regularly.
              Bring us information that leads to a filled
              job, and we’ll pay you a monthly
              commission for referrals.
            </p>
          </div>
        </div>

        <div class="small-12 medium-6 padding-horizontal-0 img-wrapper flex-container">
          <div class="width-25vw">
            {% include image.html url="/img/mcp_2.jpg" classes="section-image" alt="We’re changing how highly-skilled talent is found." %}
          </div>
        </div>
      </div>
    </div>

    <div class="card-horizontal overflow-hidden u-bg-gray component-offscreen">
      <div class="row">
        <div class="small-12 medium-6 flex-container flex-dir-column align-center padding-3">
          <h2 class="u-trailer u-text-bold">Plan terms</h2>

          <div class="cell">
            <p class="card-text">
              Commissions are contingent upon
              whether or not Esteemed was aware of
              the lead or deal beforehand.
              Take a look at some of our commissions.
            </p>
          </div>
        </div>

        <div class="small-12 medium-6 padding-horizontal-0 img-wrapper mcp-slider">
          <div class="width-25vw u-bg-yellow">
            <div class="orbit slider" role="region" aria-label="Favorite Space Pictures" data-orbit>
              <div class="orbit-wrapper">
                <div class="orbit-controls">
                  <div class="orbit-arrow orbit-previous"></div>
                  <div class="orbit-arrow orbit-next"></div>
                </div>
                <ul class="orbit-container slider margin-bottom-2">
                  <div class="is-active orbit-slide">
                    <h3 class="u-trailer u-text-bold">Lead/Information Passed: Recruitment Company or C2C</h3>
                    <div class="title u-text-bold margin-top-2">3%</div>
                    <div class="slide-descr">Any info you gather, such as “ABC Co. is hiring for a mid-level developer,” or “XYZ Co. sent me a LI message to see if I was interested.”</div>
                  </div>
                  <div class="orbit-slide">
                    <h3 class="u-trailer u-text-bold margin-top-2 margin-bottom-3">Introduction</h3>
                    <div class="title u-text-bold">7%</div>
                    <div class="slide-descr">Defined as an email or phone introduction, of an Esteemed salesperson with a client.</div>
                  </div>
                  <div class="orbit-slide">
                    <h3 class="u-trailer u-text-bold margin-top-2 margin-bottom-3">Lead Passed</h3>
                    <div class="title u-text-bold">10%</div>
                    <div class="slide-descr">Someone looking to hire you directly. Get the information, say you don’t feel you’re a fit, but that your company, Esteemed, can help.</div>
                  </div>
                  <div class="orbit-slide">
                    <h3 class="u-trailer u-text-bold margin-top-2 margin-bottom-3">Candidate Referral</h3>
                    <div class="title u-text-bold">5%</div>
                    <div class="slide-descr">Refer a candidate who fits an open role, or a requested skillset. You will be compensated after your referral hits their 30th day on deployment!</div>
                  </div>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="application" class="section section-mcp-form component-offscreen">
  <div class="grid-container">
    <div class="grid-x grid-padding-x align-top">
      <div class="cell">
        <h2 class="h2 text-center margin-bottom-2">Register a lead today!</h2>
        <p class="h5 text-center margin-bottom-2">Fill out the form below to get in touch with a member
          of our Sales team. We look forward to hearing from you!</p>
        <!-- Begin Mailchimp Signup Form -->
        <form
          id="lead_submission"
          action="https://esteemed-api-97dnt.ondigitalocean.app/register-lead"
          method="post"
          >
          <div class="row">
              <div class="small-12 medium-6 padding-1">
              <label for="first_name">First Name</label>
              <input type="text" value="" name="first_name">
              </div>
              <div class="small-12 medium-6 padding-1">
              <label for="last_name">Last Name</label>
              <input type="text" value="" name="last_name">
            </div>
          </div>
          <div class="row">
              <div class="small-12 medium-6 padding-1">
              <label for="email">Email Address</label>
              <input type="text" value="" name="email" class="required email">
            </div>
              <div class="small-12 medium-6 padding-1">
              <label for="phone">Phone Number</label>
              <input type="text" name="phone" value="">
            </div>
          </div>
          <div class="row">
              <div class="small-12 medium-6 padding-1">
              <label for="prospect_name">Prospect Company Name</label>
              <input type="text" value="" name="prospect_name">
            </div>
              <div class="small-12 medium-6 padding-1">
              <label for="prospect_first_name">Prospect First Name</label>
              <input type="text" value="" name="prospect_first_name">
            </div>
          </div>
          <div class="row">
              <div class="small-12 medium-6 padding-1">
              <label for="prospect_last_name">Prospect Last Name</label>
              <input type="text" value="" name="prospect_last_name">
            </div>
              <div class="small-12 medium-6 padding-1">
              <label for="prospect_phone">Prospect Phone Number</label>
              <input type="text" value="" name="prospect_phone">
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-6 padding-1">
              <label for="prospect_email">Prospect Email</label>
              <input type="text" value="" name="prospect_email">
            </div>
            <div class="small-12 medium-6 padding-1">
              <label for="prospect_details">Tell us more about this lead.</label>
              <input type="text" value="" name="prospect_details">
            </div>
          </div>
          <div class="row">
            <div id="responses">
              <div class="response" id="error-response" style="display:none"></div>
              <div class="response" id="success-response" style="display:none"></div>
            </div>
          </div>
          <div class="row padding-1">
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_ec5b82da5b213df9999d28215_8595453212" tabindex="-1" value="">
            </div>
            <input type="submit" value="Submit Lead" name="submit" class="button">
          </div>
        </form>
        <p class="h6 margin-bottom-1 margin-top-1">*Monthly and cumulative. If you bring in a new client for us, any other lead that generates from the same hiring manager will pay out as well.
          If a 10% lead is closed, you would collect the 5% on each subsequent job they do. If you continue developing the account and bringing more leads, those would continue at 10%.</p>
        <p class="h6 margin-bottom-1">*This program would be compiled and paid out monthly, in addition to any other compensation you may receive from Esteemed.
          It will pay 1 month trailing, meaning the bonus generated for the billing month of January would be paid in February, and so forth.</p>
        <p class="h6">*Bonuses would continue at 100% payout for the first 12 months of each lead, and then at 50% for the following 6 months, before dropping off entirely at the 18 month mark.</p>
      </div>
    </div>
  </div>
</section>
