.simple-card {
  margin: $double-spacing 0;

  &--narrow {
    margin: 0 auto;
    max-width: 240px;
  }

  .simple-card__image {
    margin-bottom: $double-spacing;

    img {
      height: 200px;
    }
  }

  .simple-card__icon {
    height: 80px;
    margin-bottom: $spacing;
    text-align: center;
  }

  .simple-card__title {
    margin-bottom: $spacing;
  }
}

.our-team {
  font-family: 'Poppins', 'SemiBold', sans-serif;
  .button {
    padding: 1.5em 1.2em;
    font-size: 1.1rem;
  }
}

.our-value,
.our-vision {
  @include breakpoint(medium) {
    .simple-card {
      &.simple-card--narrow {
        max-width: 290px;
      }

      .simple-card__image img {
        height: 100px;
        width: 100px;
      }

      p {
        font-family: 'Lato', sans-serif;
        line-height: 1.7;
      }
    }
  }
  @include breakpoint(small) {
    .simple-card__image img {
      height: 100px;
      width: 100px;
    }
  }
}

.our-people {
  @include breakpoint(medium) {
    h2 {
      line-height: $section-spacing;
    }
  }
}
.grid-container.image-cards-container {
  @include breakpoint(medium) {
    max-width: 100%;
  }
}
.image-cards .image-card img {
  @include breakpoint(medium) {
    padding: 10px 5px;
  }
}
